<!DOCTYPE html>
<html>
<head>
  <title>Sincuruapp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="account">
		<% if current_user %>
			<span>Welcome, <%= current_user.name %></span>
			<%= link_to "logout", logout_path, id: "login" %>
			<% else %>
			<%= link_to "login", login_path, id: "logout" %>
			<% end %>
	</div>
	<div class="container">
<%= yield %>
	</div>

</body>
</html>
